@import '../variables';

.dashboard{

    @media screen and (min-width:992px){
        min-height: calc(100vh - 16.25rem);
    }
    
    &__user-avatar{
        position: relative;
    }   

    &__user-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -80%);
        
    }
    &__button{
        color: $color-primary;
        text-decoration: none;
        margin-bottom: 0.5rem;
        
        &:hover
        &--active{
            color: #fff;
            background-color: $color-muted;
            text-decoration: none;
        }
   
    }

    .dashboard__button--active{
        color: #fff;
        background-color: $color-primary;
        text-decoration: none;
    }
    .dashboard__button:hover{
        color: #fff;
        background-color: $color-muted;
        text-decoration: none;
    }

    .nav-link{
        color: $color-primary;
        
    }

    .nav-link.active{
        color:$color-muted;
    }
  

}

